<mat-card class="table-card">

  <div class="header">

    <h2>Employees</h2>

    <mat-form-field appearance="outline" class="search-field">
      <mat-icon matPrefix>search</mat-icon>

      <input
        matInput
        placeholder="Search employee"
        (keyup)="applyFilter($event)">
    </mat-form-field>

  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

    <ng-container matColumnDef="employee_id">
      <th mat-header-cell *matHeaderCellDef>Employee ID</th>
      <td mat-cell *matCellDef="let e">{{e.employee_id}}</td>
    </ng-container>

    <ng-container matColumnDef="full_name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let e">{{e.full_name}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let e">{{e.email}}</td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let e">{{e.department}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let e">

        <button mat-icon-button color="warn" (click)="deleteEmployee(e.id)">
          <mat-icon>delete</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>


  <!-- Pagination -->
  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5,10,20]"
    showFirstLastButtons>
  </mat-paginator>

</mat-card>


<!-- Floating Add Button -->

<button
  mat-fab
  color="primary"
  class="add-button"
  routerLink="/employees/add"
  matTooltip="Add Employee">

  <mat-icon>add</mat-icon>

</button>