<mat-card class="form-card">

 <div class="form-header">
    <mat-icon class="header-icon">fact_check</mat-icon>
    <h2>Mark Attendance</h2>
  </div>

  <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Employee</mat-label>
      <mat-select formControlName="employee_id" [disabled]="employees.length === 0">

        @if (employees.length === 0) {

        <mat-option disabled>
          No employees available
        </mat-option>

        } @else {

        @for (emp of employees; track emp.employee_id) {

        <mat-option [value]="emp.employee_id">
          {{ emp.full_name }} ({{ emp.employee_id }})
        </mat-option>

        }

        }

      </mat-select>

      @if (submitted && attendanceForm.controls['employee_id'].errors) {
      <mat-error>
        Employee is required
      </mat-error>
      }

    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
      <mat-datepicker-toggle matIconSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      @if (submitted && attendanceForm.controls['date'].errors) {
      <mat-error>
        Date is required
      </mat-error>
      }

    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="Present">Present</mat-option>
        <mat-option value="Absent">Absent</mat-option>
      </mat-select>

      @if (submitted && attendanceForm.controls['status'].errors) {
      <mat-error>
        Status is required
      </mat-error>
      }

    </mat-form-field>

   <div class="button-container">
      <button mat-raised-button color="primary" type="submit">
        Save Attendance
      </button>
    </div>
  </form>
</mat-card>